<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title></title>
  <script src="angular.min.js"></script>
  <script src="application.js"></script>
  <link rel="stylesheet" type="text/css" href="application.css">
  
</head>
<body>
  
<div ng-app="todo" ng-controller="page">
  <ul ng-repeat="tab in tabs"> 
  <a href="" ng-click="ui.current(tab.number);">{{tab.tabName}}</a>
  </ul>
  <a href="" ng-click="ui.current(0);">Create New Tab</a>
  <hr/>


  <div ng-show="ui.isCurrent(0);">
        Create New Tab
        <br>
          Name of the list: 
          <input type="text" ng-model="newTabName">
          <button class="btn btn-success" ng-click="addNewTab()">
            Create
          </button>
  </div>

    
    <div ng-repeat="tab in tabs" ng-show="ui.isCurrent(tab.number);">{{tab.tabName}}
        <ul ng-repeat="item in dataMock">
            <li ng-show="tab.tabName == item.list" ng-class="{ 'done': item.complete }">{{item.name}}
                <input type="checkbox" ng-model="item.complete">      
            </li>   
        </ul>

         <form class="form-horizontal">
            <input type="text" ng-model="newMemo" name="textinput" id="textinput">
            <button type="submit" class="btn btn-primary" ng-click="addMemo(newMemo)">Add Memo</button>
         </form>

            Move
            <select ng-model="movedItem" ng-options="item.name for item in dataMock"></select>
         
            To
            <select ng-model="moveTo" ng-options="tab.tabName for tab in tabs"></select>

            <button type="submit" class="btn btn-primary" ng-click="transfer(movedItem, moveTo)">Submit</button>
     
        
    </div>
    
</div>

</body>
</html>
